#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  width: 100%;
  height: 100%;
  touch-action: none;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #333;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
  -webkit-appearance: none;
  appearance: none;
}


.com-tabber {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 130;
}

.view-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f4f4f4;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

}

.com-tabber+.view-main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100px;
  z-index: 101;

  &.one-level-full-page {
    bottom: 0;
  }
}

.no-data-list {
  width: 100%;
  height: 300px;
  font-size: 48px;
  text-align: center;
  line-height: 300px;
  color: #ccc;
}